@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Passion+One:400,900");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");
/*
  // $breakpoint argument choices
  //
  // - smallest-phone
  // - small-phone
  // - phone
  // - tab-port
  // - tab-land
  // - big-desktop
  //
  // 1em = 16px
  */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.5em) {
    html {
      font-size: 55%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  overflow-x: hidden; }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0; } }

a {
  text-decoration: none;
  color: #ed1c24;
  position: relative;
  transition: color .3s; }
  a:hover {
    color: #41437f; }

.onhold a {
  text-decoration: none;
  color: #ed1c24;
  position: relative;
  transition: all .3s; }
  .onhold a::before {
    content: '';
    background: #ed1c24;
    height: 2px;
    position: absolute;
    width: 100%;
    transition: all .3s;
    transform: scale(0); }
  .onhold a::after {
    content: '';
    background: #ed1c24;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 2rem;
    left: 0;
    transition: all .3s;
    transform: scale(0); }
  .onhold a:hover::before {
    transform: scale(1); }
  .onhold a:hover::after {
    transform: scale(1); }

img {
  width: 100%;
  height: auto;
  display: block; }

::selection {
  background-color: #e6db19;
  color: #ffffff; }

.contextual-region {
  position: static; }

.icon, .icon--copy::before, .icon--user::before, .icon--external-link::before {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant: normal;
  display: inline-block;
  padding-right: .6rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transition: font-size .3s; }
  .icon--copy::before {
    content: "\f1f9"; }
  .icon--user::before {
    padding-right: 1.2rem;
    content: "\f007"; }
  .icon--external-link::before {
    content: "\f35d";
    font-weight: 900; }
  .icon--external-link:hover::before {
    color: #d5343b; }

.icon-brands, .icon-brands--facebook::before {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-variant: normal;
  display: inline-block;
  padding-right: .6rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transition: font-size .3s; }
  .icon-brands--facebook::before {
    content: "\f09a"; }

body {
  color: #292e1e;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5; }

p {
  margin-bottom: 1.5rem; }

strong {
  font-weight: 700; }

.heading-primary {
  font-family: 'Passion One', cursive;
  font-weight: 400;
  line-height: .8;
  display: inline-block; }
  .heading-primary--front {
    font-size: 20vw;
    color: #ffffff; }
    @supports (-webkit-background-clip: text) {
      .heading-primary--front {
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, #ffffff, #e6db19);
        color: transparent; } }
  .heading-primary--page {
    display: block;
    font-size: 25vw;
    color: #ffffff; }

.heading-secondary {
  display: inline-block;
  color: #292e1e;
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 6rem;
  transition: all .3s; }
  .heading-secondary--view-footer {
    padding-top: 3rem;
    margin-bottom: 9rem; }
    .heading-secondary--view-footer::before {
      content: '';
      height: 1rem;
      background: #ffffff;
      width: 100%;
      display: block;
      margin-bottom: 3rem; }
  @media only screen and (max-width: 30em) {
    .heading-secondary {
      font-size: 4rem; } }
  @media only screen and (max-width: 20em) {
    .heading-secondary {
      font-size: 3.5rem; } }
  .heading-secondary--skew:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(36, 36, 36, 0.2); }

.heading-tertiary {
  display: block;
  color: #292e1e;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2.5rem; }
  .heading-tertiary--footer {
    color: #e3e3e3; }

.heading-fourth {
  display: block;
  color: #292e1e;
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 2rem; }
  .heading-fourth--smaller {
    font-size: 2rem; }
    @media only screen and (max-width: 56.5em) {
      .heading-fourth--smaller {
        font-size: 1.6rem; } }

.u-shadow {
  box-shadow: 0 1.5rem 4rem rgba(36, 36, 36, 0.4) !important; }

.u-text-center {
  text-align: center !important; }

.u-text-left {
  text-align: left !important; }

.u-btn-center--pt {
  padding-top: 6rem !important;
  text-align: center !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-big {
  margin-top: 5rem !important; }

.u-margin-bottom-none {
  margin-bottom: 0 !important; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.5em) {
    .row {
      max-width: 95rem;
      padding: 0 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .row {
      max-width: 55rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^=col-] {
    float: left; }
    .row [class^=col-]:not(:last-child) {
      margin-right: 5rem; }
      @media only screen and (max-width: 56.5em) {
        .row [class^=col-]:not(:last-child) {
          margin-right: 5rem;
          margin-bottom: 6rem; } }
      @media only screen and (max-width: 37.5em) {
        .row [class^=col-]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .row [class^=col-] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 5rem) / 3) + 5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 5rem) / 4) + 5rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 5rem) / 4) + (2 * 5rem)); }

.maintenance__container {
  background-color: #e3e3e3; }

.maintenance__header {
  color: white;
  position: relative;
  height: 75vh;
  background-image: linear-gradient(rgba(255, 244, 0, 0.64), rgba(255, 244, 0, 0.64)), url("../images/aanzoek-van-Anton.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%); }
  @media only screen and (max-width: 37.5em) {
    .maintenance__header {
      height: 65vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%); } }

.maintenance__logo__box {
  position: absolute;
  top: 4rem;
  left: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .maintenance__logo__box {
      top: 2rem;
      left: 2rem; } }

.maintenance__logo__img {
  height: 20rem;
  width: 20rem; }
  @media only screen and (max-width: 37.5em) {
    .maintenance__logo__img {
      height: 15rem;
      width: 15rem; } }

.maintenance__content {
  max-width: 120rem;
  margin: 0 auto;
  font-size: 1.9rem;
  padding: 6rem 3rem; }

.front-page__wrapper {
  background: #e3e3e3; }

.page__wrapper__content-main > div:not(:last-child) {
  margin-bottom: 12rem; }

.region-suplement > div:not(:last-child) {
  margin-bottom: 12rem; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #ffffff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 190;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.5em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }
  @media only screen and (max-width: 30em) {
    .navigation__button {
      height: 5rem;
      width: 5rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#2e3192, #41437f);
  z-index: 170;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.5em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }
  @media only screen and (max-width: 30em) {
    .navigation__background {
      height: 4rem;
      width: 4rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 175;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 20vh 60vh 20vh;
  grid-template-areas: "title title title" ". nav ." "privacy . ."; }
  @media only screen and (max-width: 37.5em) {
    .navigation__nav {
      grid-template-columns: 1fr;
      grid-template-areas: "title" "nav" "privacy"; } }

.navigation__title {
  grid-area: title;
  font-size: 10rem;
  text-transform: uppercase;
  color: #ffffff;
  padding: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .navigation__title {
      font-size: 5rem; } }

.navigation__privacy {
  grid-area: privacy;
  transform: rotate(-90deg);
  align-self: center;
  justify-self: left;
  padding: 0 3rem; }
  .navigation__privacy__link {
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    text-transform: uppercase; }
    .navigation__privacy__link::after {
      content: "";
      position: absolute;
      border: dashed 1px;
      top: 3.5rem;
      left: -3rem;
      width: 12rem; }
      @media only screen and (max-width: 37.5em) {
        .navigation__privacy__link::after {
          top: -1.5rem; } }
    .navigation__privacy__link:hover {
      color: #d5343b; }
  @media only screen and (max-width: 37.5em) {
    .navigation__privacy {
      transform: rotate(0deg);
      align-self: end;
      justify-self: center; } }

.navigation__items {
  grid-area: nav;
  align-self: center;
  justify-self: center; }

.navigation__list {
  list-style: none;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .navigation__list {
      width: 80vw; } }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 100;
  color: #ffffff;
  padding: 1rem 5rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
  background-size: 220%;
  transition: all .3s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }
  @media only screen and (max-width: 37.5em) {
    .navigation__link:link, .navigation__link:visited {
      padding: 0.5rem 5rem; } }
  @media only screen and (max-width: 20em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 2rem; } }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #292e1e;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(150); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  right: 0; }

.navigation__icon {
  position: relative;
  transform: translateY(3.5rem); }
  @media only screen and (max-width: 30em) {
    .navigation__icon {
      transform: translateY(2.5rem); } }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #292e1e;
    display: inline-block;
    transition: all .3s; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0; }

.header {
  position: relative;
  height: 100vh;
  background: linear-gradient(to left bottom, rgba(65, 67, 127, 0.7), rgba(230, 219, 25, 0.7)), url("../images/aanzoek-van-Anton.jpg");
  background-size: cover;
  background-position: bottom; }
  @media only screen and (max-width: 56.5em) {
    .header {
      height: 85vh; } }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
      margin-bottom: -10vw; }
      @media only screen and (max-width: 56.5em) {
        .header {
          -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vw), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vw), 0 100%); } } }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 70vh; } }
  @media only screen and (max-width: 20em) {
    .header {
      height: 55vh; } }
  .header__logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 100; }
  .header__title-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 37.5em) {
      .header__title-box {
        top: 60%; } }
  @supports (display: grid) {
    .header__title-box {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 10vh auto; }
    .header__title {
      grid-column: 1;
      grid-row: 1 / 2; }
      @media only screen and (max-width: 20em) {
        .header__title {
          align-self: start; } }
    .header__slogan {
      grid-column: 1;
      grid-row: 2 / 3;
      justify-self: center; }
    .header__cta {
      grid-column: 1;
      grid-row: 3 / 4;
      justify-self: center;
      align-self: center; } }
  .header__slogan {
    color: #ffffff;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .header__slogan {
        font-size: 3vw; } }
    @media only screen and (max-width: 30em) {
      .header__slogan {
        display: none; } }

.header-page {
  position: relative;
  height: 30rem;
  margin-bottom: 5rem;
  background: linear-gradient(to left bottom, #2e3192, rgba(65, 67, 127, 0.9)), url("../images/aanzoek-van-Anton.jpg");
  background-size: cover;
  background-position: bottom;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 18rem, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 18rem, 0 100%); }
  @media only screen and (max-width: 37.5em) {
    .header-page {
      height: 20rem;
      background: linear-gradient(to left bottom, #2e3192, rgba(65, 67, 127, 0.9));
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
  .header-page__logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 100; }
    @media only screen and (max-width: 37.5em) {
      .header-page__logo-box {
        top: 0;
        left: 0; } }
  .header-page__title-box {
    top: 35%;
    left: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 37.5em) {
      .header-page__title-box {
        top: 60%; } }
    @media only screen and (max-width: 20em) {
      .header-page__title-box {
        top: 79%; } }

.welcome {
  padding: 18rem 0 30rem; }
  @media only screen and (max-width: 56.5em) {
    .welcome {
      margin-top: -13vh; } }
  @media only screen and (max-width: 37.5em) {
    .welcome {
      margin-top: -10vh;
      padding: 14rem 0; } }
  .welcome__box {
    min-height: 38rem; }
    @media only screen and (max-width: 37.5em) {
      .welcome__box {
        padding: 0 2rem 6rem; } }
  .welcome__content {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .welcome__content {
        flex-direction: column; } }
  .welcome__body {
    width: 50%;
    padding: 0 3rem; }
    @media only screen and (max-width: 37.5em) {
      .welcome__body {
        margin-bottom: 5rem;
        width: 100%;
        padding: 0; } }
  .welcome__img {
    width: 50%;
    outline-offset: 2rem;
    transition: all .3s; }
    .welcome__img:hover {
      outline: 5px solid #d5343b; }
    @media only screen and (max-width: 37.5em) {
      .welcome__img {
        width: 100%;
        padding: 0; } }

.cards {
  margin-top: -12vh;
  padding: 20rem 0;
  background: linear-gradient(to left bottom, rgba(46, 49, 146, 0.9), rgba(65, 67, 127, 0.9)), url("../images/Henriette.jpg");
  background-size: cover;
  transform: skewY(-7deg); }
  .cards > * {
    transform: skewY(7deg); }
  @supports (display: grid) {
    .cards__wrapper {
      display: grid;
      grid-template-columns: repeat(3, minmax(165px, 1fr));
      grid-column-gap: 2rem;
      justify-content: center; }
      @media only screen and (max-width: 37.5em) {
        .cards__wrapper {
          grid-template-columns: repeat(1, minmax(250px, 1fr)); } } }

.card {
  margin-bottom: 2rem;
  background: rgba(255, 255, 255, 0.5);
  min-height: 45rem;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all .3s; }
  @supports (display: grid) {
    .card {
      margin-bottom: 0; } }
  @media only screen and (max-width: 37.5em) {
    .card {
      width: 100%; }
      .card:not(:last-child) {
        margin-bottom: 3rem; } }
  .card:hover {
    background: rgba(255, 255, 255, 0.6);
    transform: translateY(-2rem) scale(1.03);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .card__icons {
    width: 4.8rem; }
  .card__paragraph {
    padding-bottom: 3rem;
    min-height: 10rem; }

.sponsors {
  padding: 14rem 0 20rem;
  min-height: 55rem; }
  .sponsors__view-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, auto));
    grid-gap: 2rem; }
  .sponsors__superteaser-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .sponsors__superteaser-title {
    display: block;
    margin-bottom: 2rem;
    text-decoration: none;
    font-size: 2rem;
    color: #292e1e;
    line-height: 2;
    transition: color .3s; }
    .sponsors__superteaser-title:hover {
      color: #d5343b; }
  .sponsors__superteaser-logo {
    display: block;
    transition: transform .3s; }
    .sponsors__superteaser-logo:hover {
      transform: scale(1.1); }
  .sponsors__region-button {
    display: block;
    left: 50%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    margin-top: 5rem; }

.contact {
  background-color: #242424;
  padding: 20rem 0;
  color: #ffffff; }
  .contact__box {
    background-image: linear-gradient(105deg, transparent 50%, rgba(255, 255, 255, 0.9) 0, rgba(255, 255, 255, 0.9) 100%), url(../images/samen_groeten.jpg);
    background-size: cover;
    background-position: center;
    min-height: 40rem;
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid #fff200; }
    @media only screen and (max-width: 37.5em) {
      .contact__box {
        flex-direction: column;
        background-image: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.7) 100%), url(../images/samen_groeten.jpg); } }
  .contact__form {
    padding: 5rem 0;
    width: 40%; }
    @media only screen and (max-width: 37.5em) {
      .contact__form {
        padding: 0;
        width: 100%;
        order: 2; } }
  .contact__details {
    color: #292e1e;
    width: 30%;
    text-align: right;
    padding: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .contact__details {
        background: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 3rem;
        width: 86%;
        margin: 5rem auto;
        order: 1; } }
  .contact__management-btn-region {
    margin-top: 5rem; }

.reaction {
  min-height: 60rem;
  position: relative;
  padding: 5rem 0;
  z-index: 1; }
  .reaction::after {
    content: "";
    background: url("../images/publiek.jpg");
    opacity: .3;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: bottom; }
  .reaction__box {
    background-color: rgba(255, 255, 255, 0.6);
    color: #292e1e;
    padding: 3rem;
    transform: skewX(-10deg); }
    .reaction__box > * {
      transform: skewX(10deg); }
    @media only screen and (max-width: 37.5em) {
      .reaction__box {
        transform: skewX(0); }
        .reaction__box > * {
          transform: skewX(0deg); } }
  .reaction__content {
    padding: 0 2rem; }
    @media only screen and (max-width: 37.5em) {
      .reaction__content {
        padding: 0;
        margin-bottom: 4rem; } }
  .reaction__teaser-content {
    padding: 0 3rem; }
    @media only screen and (max-width: 37.5em) {
      .reaction__teaser-content {
        padding: 0; } }

.footer {
  padding-top: 6rem;
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center; } }
  .footer__left {
    width: 48%; }
    .footer__left-bcg-image {
      display: none; }
    @supports (display: grid) {
      .footer__left {
        display: grid;
        grid-template-columns: 9vw 1fr 9vw;
        grid-template-rows: 1fr 15vw 14vw;
        text-align: center; }
        @media only screen and (max-width: 37.5em) {
          .footer__left {
            width: 95%;
            grid-template-columns: 17vw 1fr 17vw;
            grid-template-rows: 1fr 27vw 28vw; } }
        @media only screen and (max-width: 20em) {
          .footer__left {
            grid-template-rows: 1fr 27vw 30vw; } }
        .footer__left-bcg-image {
          display: block;
          grid-column: 1 / span 3;
          grid-row: 1 / span 3;
          align-self: end; }
        .footer__left__msg {
          grid-column: 2;
          grid-row: 2;
          justify-content: center;
          align-self: start;
          font-size: 2vw; }
          @media only screen and (max-width: 37.5em) {
            .footer__left__msg {
              font-size: 5vw; } }
        .footer__left__footnote {
          grid-column: 2;
          grid-row: 3;
          align-self: start;
          display: flex;
          justify-content: space-between; } }
    .footer__left__social {
      font-size: 2vw;
      line-height: 3rem; }
      .footer__left__social a {
        color: #41437f;
        transition: color .3s; }
        .footer__left__social a:hover {
          color: #d5343b; }
      @media only screen and (max-width: 37.5em) {
        .footer__left__social {
          font-size: 4vw; } }
  .footer__right-sponsors {
    width: 48%; }
    @media only screen and (max-width: 37.5em) {
      .footer__right-sponsors {
        width: 90%; } }
  @supports (display: grid) {
    .footer__sponsors__content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem; } }
  .footer__sponsors-field {
    outline-offset: 1rem;
    transition: all .3s; }
    .footer__sponsors-field:hover {
      outline: 2px solid #d5343b; }

.btn, .btn:link, .btn:visited {
  padding: 2rem 5rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: all .3s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background: #ffffff;
  color: #292e1e;
  text-transform: uppercase; }
  .btn--white:hover {
    color: #292e1e; }

.btn--yellow {
  background: #e6db19;
  color: #292e1e; }

.btn--blue {
  background: #2e3192;
  color: #ffffff; }
  .btn--blue:hover {
    color: #ffffff; }

.btn--red {
  background: #d5343b;
  color: #ffffff; }
  .btn--red:hover {
    color: #ffffff; }

.form {
  padding: 5rem 0; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input, .form__textarea {
    font-size: 1.5rem;
    color: #292e1e;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    width: 90%;
    transition: all .3s; }
    @media only screen and (max-width: 37.5em) {
      .form__input, .form__textarea {
        width: 100%; } }
    .form__input:focus, .form__textarea:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(36, 36, 36, 0.2);
      border-bottom: 3px solid #2e3192; }
    .form__input:focus:invalid, .form__textarea:focus:invalid {
      border-bottom: 3px solid #d5343b; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__label {
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }

.webform-confirmation__message {
  padding: 0 6rem; }

.node-reactions-form, .user-login-form {
  width: 70vw;
  margin: 0 auto; }

@media only screen and (max-width: 75em) {
  .logo {
    width: 90%; } }

@media only screen and (max-width: 56.5em) {
  .logo {
    width: 70%; } }

@media only screen and (max-width: 37.5em) {
  .logo {
    width: 55%; } }

@media only screen and (max-width: 20em) {
  .logo {
    width: 45%; } }

.logo--footer {
  width: 50%; }
  @media only screen and (max-width: 75em) {
    .logo--footer {
      width: 70%; } }

.logo--page {
  width: 60%; }
  @media only screen and (max-width: 75em) {
    .logo--page {
      width: 47%; } }
  @media only screen and (max-width: 37.5em) {
    .logo--page {
      width: 35%; } }

th, td {
  border: 1px solid #292e1e;
  padding: 1rem;
  text-align: left;
  vertical-align: middle; }

.panel {
  padding: 3rem;
  margin-bottom: 4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transition: all .3s; }
  .panel--red {
    border-bottom: 3px solid #d5343b; }
  .panel--yellow {
    border-bottom: 3px solid #fff200; }
  .panel--blue {
    border-bottom: 3px solid #2e3192; }
  .panel--hover:hover {
    transform: translateY(-1rem) scale(1.03);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1); }

.messages {
  padding: 15px 20px 15px 35px;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 3rem; }
  .messages--error {
    color: #d5343b;
    background-image: url(../images/icons/error.png);
    border-bottom: 3px solid #d5343b;
    box-shadow: none; }
  .messages--status {
    color: #41ad49;
    background-image: url(../images/icons/check.png);
    border-bottom: 3px solid #41ad49;
    box-shadow: none; }
  .messages--warning {
    color: #f27200;
    background-image: url(../images/icons/warning.png);
    border-bottom: 3px solid #f27200;
    box-shadow: none; }

.content-page {
  background: #e3e3e3; }
  .content-page--superteaser {
    margin-bottom: 5rem; }

.body__column {
  column-rule: 1px dotted #A0A0A0; }
  @media only screen and (max-width: 37.5em) {
    .body__column {
      column-count: 1 !important; } }
  .body__column--two {
    column-count: 2;
    column-gap: 3rem; }
  .body__column--three {
    column-count: 3;
    column-gap: 3rem; }

.node-programma__box {
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .node-programma__box {
      flex-direction: column; } }

.node-programma__poster {
  width: 45%; }
  @media only screen and (max-width: 37.5em) {
    .node-programma__poster {
      width: 100%;
      order: 1; } }

.node-programma__info {
  width: 55%;
  padding-left: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .node-programma__info {
      width: 100%;
      order: 0;
      padding-left: 0;
      padding-bottom: 3rem; } }

.superteaser__programma {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .superteaser__programma {
      flex-direction: column; } }
  .superteaser__programma__poster {
    width: 65%;
    padding-right: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .superteaser__programma__poster {
        width: 100%;
        order: 2;
        margin-top: 3rem;
        padding-right: 0; } }
  @media only screen and (max-width: 37.5em) {
    .superteaser__programma__info {
      order: 1; } }
  .superteaser__programma__info-content {
    padding-bottom: 3rem; }

.past-program__view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media only screen and (max-width: 37.5em) {
    .past-program__view-content {
      flex-direction: column; } }

.past-program__views-row {
  flex-basis: 48%; }

@media only screen and (max-width: 37.5em) {
  .reaction__teaser-content {
    margin-bottom: 4rem; } }

.reaction__view-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media only screen and (max-width: 37.5em) {
    .reaction__view-content {
      flex-direction: column; } }

.reaction__item {
  flex-basis: 48%; }

.reaction__add-btn {
  display: block;
  width: 44%;
  padding: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .reaction__add-btn {
      width: 100%; } }

.reaction__box--full {
  background-color: #ffffff; }

.reaction__name {
  color: #2e3192;
  font-size: 1.8rem; }

.members__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  @media only screen and (max-width: 20em) {
    .members__content {
      flex-direction: column; } }
  .members__content > div {
    flex: 0 0 20%; }
    @media only screen and (max-width: 37.5em) {
      .members__content > div {
        flex: 0 0 50%; } }

.members__content--teaser {
  padding: 2rem;
  overflow: hidden;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .members__content--teaser {
      margin-bottom: 7rem; } }
  @media only screen and (max-width: 56.5em) {
    .members__content--teaser {
      padding: .5rem; } }

.management__bcg {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(65, 67, 127, 0.95);
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .management__bcg:target {
    opacity: 1;
    visibility: visible; }
  .management__bcg:target .management__bcg__wrapper {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .management__bcg__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    background: #ffffff;
    padding: 3rem;
    box-shadow: 0 1rem 3rem rgba(36, 36, 36, 0.2);
    border-bottom: 2px solid #fff200;
    transition: all .4s .2s;
    width: 80vw; }
    @media only screen and (max-width: 37.5em) {
      .management__bcg__wrapper {
        padding: 1rem;
        width: 95vw; } }

.management__close:link, .management__close:visited {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 5rem;
  line-height: .5;
  color: #292e1e;
  text-decoration: none;
  display: inline-block;
  transition: all .3s; }

.management__view-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.management__view-row {
  width: 24%; }
  @media only screen and (max-width: 20em) {
    .management__view-row {
      width: 49%; } }

.management__node-content {
  padding: 2rem;
  overflow: hidden;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .management__node-content {
      padding: .5rem; } }

.photos__view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.photos__view-row {
  flex: 0 0 25vw;
  padding: 2rem; }
  .photos__view-row:hover {
    background-color: #fff200;
    transform: translateY(-0.5rem) scale(1.03);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 56.5em) {
    .photos__view-row {
      flex: 0 0 49%; } }
  @media only screen and (max-width: 30em) {
    .photos__view-row {
      flex: 0 0 99%; } }

.photos__content--intro {
  margin-bottom: 3rem; }

.photos__field__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 30em) {
    .photos__field__items {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: normal; } }

.photos__field__item {
  flex: 0 0 24%;
  padding: 1rem;
  background-color: #ffffff;
  margin-bottom: 1rem;
  transition: all .3s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .photos__field__item:hover {
    background-color: #fff200;
    transform: translateY(-0.5rem) scale(1.03);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 37.5em) {
    .photos__field__item {
      flex: 0 0 49%; } }

.news {
  border-bottom: 1px solid #292e1e;
  padding-bottom: 3rem; }
  .news__img {
    max-width: 40rem;
    float: left;
    margin: 0 2.5rem 2rem 0; }
