// ///////////////////////
// @@ ++ NEWS
// ///////////////////////

.news {

  border-bottom: 1px solid $color-blackleather;
  padding-bottom: 3rem;

  &__img {
    max-width: 40rem;
    float: left;
    margin: 0 2.5rem 2rem 0;
  }
}