// /////////////////////////
// @@ NODE PROGRAMMA
// ////////////////////////

// FULL PROGRAMMA VIEW (node)
// node--programma--full.html.twig
.node-programma {
  &__box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
      "poster info"
      "link .";

    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas: 
      "info"
      "poster"
      "link";
    }
  }

  &__poster {
    grid-area: poster;

    @include respond(phone) { //600px
      width: 100%;
      order: 1;
    }

  }

  &__info {
    grid-area: info;    
    padding-left: 3rem;

    @include respond(phone) { //600px
      width: 100%;
      order: 0;
      padding-left: 0;
      padding-bottom: 3rem;
    }

  }

  &__link {
    grid-area: link;
    margin-top: 2rem;
    a {
      color: $color-white;
    }
  }

}

// SUPER-TEASER on page programma-overzicht
// node--programma--super-teaser.html.twig
.superteaser__programma {
  display: flex;
  align-items: center;

  @include respond(phone){
    flex-direction: column;
  }

  &__poster {
    width: 65%;
    padding-right: 3rem;

    @include respond(phone) {
      width: 100%;
      order: 2;
      margin-top: 3rem;
      padding-right: 0;
    }

  }

  &__info {

    @include respond(phone) {
      order: 1;
    }

    &-content {
      padding-bottom: 3rem;
    }

  }

}

// views-view--programma-block.html.twig
.program {
  &__view-content {

  }
}

// views-view--voorbijprogramma.html.twig
.past-program {
  &__view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  //views-view-unformatted--voorbijprogramma.html.twig
  &__views-row {
    flex-basis: 48%;
  }

}

