/////////////////////////
// @@ CONTENT PAGE
// ////////////////////////

.content-page {
  background: $color-platinum;

  &__box {}

  &--11 {
    margin-top: -8rem;
    padding: 14rem 0 0 0;
  }

  &--superteaser {
    margin-top: -8rem;
    padding: 6rem 0;
  }
} 