// /////////////////////////
// @@ CONTENT PHOTOS
// ////////////////////////

.photos {

  // view overzicht photo albums
  // views-view--photo-albums.html.twig
  &__view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  // views-view-unformatted--photo-albums.html.twig
  &__view-row {
    flex: 0 0 24%;
    padding: 2rem;

    &:hover {
      background-color: $color-yellow;
      transform: translateY(-.5rem) scale(1.03);
      box-shadow: 0 .5rem 2rem rgba(0,0,0,.1);
    }

    @include respond(phone) {
      flex: 0 0 49%;
    }

    @include respond(smallest-phone) {
      flex: 0 0 99%;
    }
  }

  // node-photos
  &__box {

    &--full {}
    &--teaser {}
  }

  &__content {
    &--intro {
      margin-bottom: 3rem;
      //padding: 2rem;
      //background-color: $color-white;
      //border-bottom: 2px solid $color-yellow;
    }
    &--img {}
  }

  // field-photos
  &__field {
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      @include respond(small-phone) {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: normal;
      }
    }

    &__item {
      flex: 0 0 24%;
      padding: 1rem;
      background-color: $color-white;
      margin-bottom: 1rem;
      transition:all .3s;
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
      &:hover {
        background-color: $color-yellow;
        transform: translateY(-.5rem) scale(1.03);
        box-shadow: 0 .5rem 2rem rgba(0,0,0,.1);
      }

      // general-sibling enkel als vb kleurt alle backgrounds rood
      // behalve de eerste
      // .photos__field__item~.photos__field__item{background-color:#d5343b}
      //& ~ & {
      //  background-color: $color-red-saturat;
      //}

      @include respond(phone) {
        flex: 0 0 49%;
      }
    }
  }

}