// ///////////////////////
// @@ ++ MANAGEMENT
// ///////////////////////

.management {

  &__bcg {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($color-blue-saturat, .95);
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
      opacity: 1;
      visibility: visible;
    }

    &:target &__wrapper {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }

    &__wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(.1);
      background: $color-white;
      padding: 3rem;
      box-shadow: 0 1rem 3rem rgba($color-black, .2);
      border-bottom: 2px solid $color-yellow;
      transition: all .4s .2s;
      width: 80vw;
    }

  }

  &__close {
    &:link,
    &:visited {
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 5rem;
      line-height: .5;
      color: $color-blackleather;
      text-decoration: none;
      display: inline-block;
      transition: all .3s;
    }

  }

  &__view {
    &-content {
      display: flex;
      justify-content: space-between;
    }

    &-row {
      width: 24%;
    }

  }

  &__content {

  }
}