/////////////////////////
// @@ CONTENT PAGE
// ////////////////////////

.content-page {
  background: $color-platinum;
  margin-top: -8rem;
  padding: 14rem 0;
  z-index: -999;

  &__box {
    
  }
} 