// /////////////////////////
// @@  CONTACT REGION
// ////////////////////////

.contact {
  background-color: $color-black;
  padding: 20rem 0;
  color: $color-white;

  &__box {
    background-image: linear-gradient(105deg, transparent 50%,
            rgba(255, 255, 255, .9) 0,
            rgba(255, 255, 255, .9) 100%),
    url(../images/samen_groeten.jpg);
    background-size: cover;
    background-position: center;
    min-height: 40rem;
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid $color-yellow;

    @include respond(phone) {
      flex-direction: column;
      background-image: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, .7) 0, rgba(255, 255, 255, .7) 100%), url(../images/samen_groeten.jpg);
    }
  }

  &__form {
    padding: 5rem 0;
    width: 40%;

    @include respond(phone) {
      padding: 0;
      width: 100%;
      order: 2;
    }
  }

  &__details {
    color: $color-blackleather;
    width: 30%;
    text-align: right;
    padding: 3rem;

    @include respond(phone) {
      background: rgba($color-white, .8);
      text-align: center;
      padding: 3rem;
      width: 86%;
      margin: 5rem auto;
      order: 1;
    }

    &__body {
    }

  }

  &__management-btn-region {
    margin-top: 5rem;
  }

}