{# 
/**
 * Voorlopig hard gecodeerde tekst
 *
 */
#}

<section class="cards">
    <div class="row">
        <div class="col-1-of-3">
            <div class="card card__one">
                <i class="card__icons">
                    <img src="{{ base_path ~ directory }}/images/cinema.png" alt="theater icoon">
                </i>
                <h3 class="heading-tertiary">Programma</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus delectus neque labore tempora earum esse </p>
                <a href="#" class="btn btn--yellow">Lees verder</a>
            </div>
        </div>

        <div class="col-1-of-3">
            <div class="card bcard__two">
                <i class="card__icons">
                    <img src="{{ base_path ~ directory }}/images/theater-masks.png" alt="Theater maskers icoon">
                </i>
                <h3 class="heading-tertiary">Spelende leden</h3>
                <p>Drepellendus hic aspernatur error adipisci explicabo cum perferendis animi ipsa mollitia. Vero!. </p>
                <a href="#" class="btn btn--blue">Lees verder</a>
            </div>
        </div>

        <div class="col-1-of-3">
            <div class="card card__three">
                <i class="card__icons">
                    <img src="{{ base_path ~ directory }}/images/piggy-bank.png" alt="Spaatv/arken icoon">
                </i>
                <h3 class="heading-tertiary">Hoe sponseren</h3>
                <p>Wenst u ons te sponseren, dan kan dat op volgende wijze:</p>
                <a href="node/9" class="btn btn--red">Lees verder</a>
            </div>
        </div>  

    </div>
</section>