{# 
 /**
  *
 */ 
 #}

<footer class="footer">
  <div class="row">
    <div class="footer__box">

      <div class="footer__logo-box">
          <img src="logo.png" alt="Logo 't Kliekske" class="logo--footer">
      </div>

      <div class="footer__menu">
          <ul>
              <li><a href="#" class="footer__menu__item">Home</a></li>
              <li><a href="#" class="footer__menu__item">Sponseren</a></li>
              <li><a href="#" class="footer__menu__item">Spelende leden</a></li>
              <li><a href="#" class="footer__menu__item">Programma</a></li>
              <li><a href="#" class="footer__menu__item">Nieuws</a></li>
          </ul>
      </div>

      

      <div class="footer__social">
          <div class="footer__social-box">
              <a href="#"><img class="social__img" src="images/facebook.png" alt="Facebook Kliekske"></a>                
          </div>
          <div class="footer__copyright">
              &copy; 't Kliekske | 2018
          </div>                    
      </div>
      
      <div class="footer__sponsors">
          <h3 class="heading-tertiary heading-tertiary--footer">Sponsors</h3>
          <img src="images/ijscasino_logo.png" class="footer__sponsors__img" alt="IJscasino">
      </div> 


    </div>            
  </div>
</footer>
