{# 
 /**
  *
 */ 
 #}

<header class="header-page">
  <div class="header-page__logo-box">
    <a href="index.html">
      <img src="logo.png" alt="" class="logo--page">
    </a>
      
  </div>

  <!-- <div class="header__menubtn-box">
      
  </div> -->

  <div class="header-page__title-box">
    <h1 class="heading-primary">
        <span class="heading-primary--page">'tKliekske</span>
    </h1>
      
  </div>

</header>
