


<main role="main">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

{# deze structuur gaat in de node.html.twig moeten komen #}

  <section class="content-page">      
    <div class="content-page__box">

      <h2 class="heading-secondary">
          Toneelgezelschap ‘t Klieksk
      </h2>
      <div class="row">
            <!-- vanaf hier in html.twig file -->
        {{ page.content }}
      </div>
    </div>                


</main>


