{#
/**
 * 
 */
 #}

<section class="welcome">        
  <div class="welcome__box">
    <h2 class="heading-secondary">
        Welkom bij het toneelgezelschap ‘t Klieksk
    </h2>
    <div class="row">
        <!-- vanaf hier in html.twig file -->
      <div class="col-1-of-2">
        <div class="welcome__body">
          <p>We zijn een jonge, dynamische toneelgroep, opgericht in februari 2014. We willen blijspelen en komedies opvoeren, 
              met als motto “lachen is gezond !”</p>
          <p>Je kan ons het best vergelijken met een goede wijn : Alle ingrediënten samen zorgen namelijk voor een pittige 
              smaak, een kruidig kleur- en geluids-pallet, maar toch ook voor een zachte afdronk.
          </p>
        </div>
      </div>
      <div class="col-1-of-2">
        <div class="welcome__img">
          <img class="u-shadow" src="images/samen_groeten.jpg" alt="Leden Kliekske">
        </div>
      </div>        
    </div>                
  </div>         
</section>