// /////////////////////////
// @@ VARIABLES
// ////////////////////////

// COLORS

$color-white: #ffffff;
$color-black: #242424;
$color-gray: #838383;

$color-red: #ed1c24;
$color-red-saturat: #d5343b;
$color-blue: #2e3192;
$color-blue-saturat: #41437f;
$color-yellow: #fff200;
$color-yellow-saturat: #e6db19;
$color-blackleather: #292e1e;
$color-platinum: #e3e3e3;

$color-green: #41ad49;
$color-orange: #f27200;



// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical--small: 6rem;
$gutter-horizontal: 5rem;




