// /////////////////////////
// @@ VARIABLES
// ////////////////////////

// COLORS

$color-white: #ffffff;

$color-red: #ed1c24;
$color-blue: #2e3192;
$color-yellow: #fff200;
$color-blackleather: #292e1e;
$color-platinum: #e3e3e3;


