{# 
/**
 * Page main content and suplement region
 *
*/ 
#}

<div class="page__wrapper__content-main">

  <div class="page__content-main">
    <main role="main">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      {{ page.content }}
    </main>
  </div>

  <div class="page__content-suplement">
    {{ page.suplement }}
  </div>

</div>