// /////////////////////////
// @@  FOOTER REGION
// ////////////////////////

.footer {
  background-color: $color-black;
  min-height: 30rem;
  padding: 4rem 0;
  color: $color-platinum;

  &__logo-box {

  }


  &__menu {

  }

  &__sponsors {

  }

  &__social {

  }
}