// /////////////////////////
// @@  FOOTER REGION
// ////////////////////////

.footer {
  background-color: $color-black;
  min-height: 30rem;
  padding: 6rem 0;
  color: $color-platinum;
  margin: 5rem 0;

  &__box {
    display: flex;
    flex-direction: row;

    @include respond(phone) {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .footer__logo__social-wrapper {
    width: 20vw;
    order: 1;
  }

  &__logo-box {
    margin-top: -3rem;

    @include respond(phone) {
      margin-bottom: 3rem;
      order: 0;
    }

    @include respond(small-phone) {
      width: 40vw;
    }

    @include respond(smallest-phone) {
      width: 55vw;
    }
  }


  &__menu {
    width: 15vw;
    border-left: solid 1px $color-platinum;
    padding: 0 2.5rem;

    @include respond(phone) {
      margin-bottom: 3rem;
      order: 2;
    }

    &__item {
      text-decoration: none;
      color: $color-platinum;

      &:hover {
        transform: translateX(.5rem);
      }
    }

  }

  &__sponsors {
    width: 65vw;
    order: 3;

    @include respond(phone) {
      width: 100vw;
      margin-top: 3rem;
    }

    &__content {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }


  }


  &__social {
    width: 25vw;
    display: flex;
    flex-direction: column;
  }

  &__copyright {
    font-size: 1rem;
  }

  .social__img {
    width: 2.8rem;
  }
}