// /////////////////////////
// @@  FOOTER REGION
// ////////////////////////

.footer {
  background-color: $color-black;
  min-height: 30rem;
  padding: 6rem 0;
  color: $color-platinum;
  margin: 5rem 0;

  &__box {
    display: flex;
    flex-direction: row;

    @include respond(phone) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__one-wrapper {
    width: 20vw;
    order: 1;

    @include respond(phone) {
      width: 40vw;
    }
  }

  &__logo-box {
    margin-top: -3rem;

    @include respond(phone) {
      margin-bottom: 3rem;
      order: 0;
    }

    @include respond(small-phone) {
      width: 40vw;
    }

    @include respond(smallest-phone) {
      width: 55vw;
    }
  }

  &__social-box {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__copyright {
    font-size: 1rem;
  }

  &__social-img {
    width: 2.8rem;
  }

  &__menu-box {
    width: 15vw;
    border-left: solid 1px $color-platinum;
    padding: 0 2.5rem;
    order: 2;

    @include respond(phone) {
      margin-bottom: 3rem;
      width: 25vw;
    }

  }

  &__menu__item {
    text-decoration: none;
    color: $color-platinum;

    &:hover {
      transform: translateX(.5rem);
    }
  }

  &__sponsors-box {
    width: 65vw;
    order: 3;

    @include respond(phone) {
      width: 100vw;
      margin-top: 3rem;
    }

  }

  &__sponsors__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

}