/////////////////////////
// @@ HEADER
// ////////////////////////

// @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
//   .header {
//     -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
//     clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);  
//     height: 75vh;
//   }
// }

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(
    to left bottom, 
    rgba($color-yellow, 0.7), 
    rgba($color-yellow-saturat, 0.7)), 
    url("../images/aanzoek-van-Anton.jpg");
  background-size: cover;
  background-position: bottom;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  @include respond(phone) {
    height: 85vh;
  }

  @include respond(smallest-phone) {
    height: 65vh;
  }

  &__logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  &__logo {

    @include respond(tab-land) {
      width: 90%;
    }

    @include respond(tab-port) {
      width: 70%;
    }

    @include respond(phone) {
      width: 55%;
    }

    @include respond(smallest-phone) {
      width: 45%;
    }


  }


  &__title-box {
    top: 35%;
    left: 50%;
    @include center(both);
    text-align: center;
  }
}

