// /////////////////////////
// @@  REACTIONS REGION
// ////////////////////////

.reaction {
  min-height: 60rem;
  position: relative;
  padding: 5rem 0;

  &::after {
    content: "";
    background: url("../images/publiek.jpg");
    opacity: .3;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: bottom;
  }

  &__box {
    background-color: rgba($color-white, .6);
    color: $color-blackleather;
    padding: 3rem;
    transform: skewX(-10deg);
    margin-bottom: 4rem;

    & > * {
      transform: skewX(10deg);
    }

    @include respond(phone) {
      transform: skewX(0);

      & > * {
        transform: skewX(0deg);
      }
    }
  }

  &__content {}

  &__footer {
    text-align: center;
  }
}