/////////////////////////
// @@ WELCOME
// ////////////////////////

.welcome {
  background: $color-platinum;
  margin-top: -20vh;
  padding: 26rem 0;

  @include respond(tab-port) {
    margin-top: -13vh;
  }

  @include respond(phone) {
    margin-top: -10vh;
    padding: 14rem 0;
  }

  &__box {
    
    @include respond(phone) {
      padding: 0 2rem 6rem;
    }
  }

  &__body {
    min-height: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(phone) {
      min-height: 24rem;
    }
  }
}