// /////////////////////////
// @@ CARD REGION
// ////////////////////////

.cards {
  margin-top: -12vh;
  padding: 20rem 0;
  background: linear-gradient(
          to left bottom,
          rgba($color-blue, .9),
          rgba($color-blue-saturat, .9)),
  url("../images/Mariette-met-brief.jpg");
  background-size: cover;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include respond(phone) {
      flex-direction: column;
    }
  }
}

.card {
  width: 32%;
  background: rgba($color-white, .5);
  min-height: 45rem;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all .3s;

  @include respond(phone) {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &:hover {
    background: rgba($color-white, .6);
    transform: translateY(-2rem) scale(1.03);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
  }

  &__one {
  }

  &__two {
  }

  &__three {
  }

  &__icons {
    width: 4.8rem;
  }

  &__content {
  }

  &__paragraph {
    padding-bottom: 3rem;
    min-height: 10rem;
  }
}
