// /////////////////////////
// @@  FOOTER REGION
// ////////////////////////

.footer {
  display: grid;
  grid-template-columns: 0rem 1fr 1fr 0rem;
  grid-template-rows: 1fr;
  grid-gap: 2rem;

  &__left {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    &-bcg-image {
      grid-column: 1 / 4;
      grid-row: 1 / 4;
    }

    &__social {
      &-box {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        align-self: end;
      }

      &-img {
        width: 3rem;
        height: 3rem;

      }
    }


    &__copy-rights {
      grid-column: 2;
      grid-row: 2 / 3;
      align-self: end;
    }

  }

  &__right-sponsors {
    grid-column: 3 / 4;
    align-self: center;

  }

  // class added on views-view--sponsors-footer.html.twig
  &__sponsors__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__sponsors-field {
    outline-offset: 1rem;
    transition: all .3s;

    &:hover {
      outline: 2px solid $color-yellow;
    }
  }

}