// /////////////////////////
// @@  FOOTER REGION
// ////////////////////////

.footer {
  padding-top: 6rem;
  display: flex;
  justify-content: space-around;

  @include respond(phone) {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  &__left {
    width: 48%;
    display: grid;
    grid-template-columns: 9vw 1fr 9vw;
    grid-template-rows: 1fr 15vw 14vw;
    text-align: center;

    @include respond(phone) {
      width: 95%;
      grid-template-columns: 17vw 1fr 17vw;
      grid-template-rows: 1fr 27vw 28vw;
    }
    
    @include respond(smallest-phone) {
      grid-template-rows: 1fr 27vw 30vw;
    }

    &-bcg-image {
      grid-column: 1 / span 3;
      grid-row: 1 / span 3;
      align-self: end;
    }

    &__msg {
      grid-column: 2;
      grid-row: 2;
      justify-content: center;
      align-self: start;
      font-size: 2vw;

      @include respond(phone) {
        font-size: 5vw;
      }
    }

    &__footnote {
      grid-column: 2;
      grid-row: 3;
      align-self: start;

      display: flex;
      justify-content: space-between;
    }

    &__social {
      font-size: 2vw;
      line-height: 3rem;
      a {
        color: $color-blue-saturat;
        transition: color .3s;

        &:hover {
          color: $color-red-saturat;
        }
      }

      @include respond(phone) {
        font-size: 4vw;
      }
    }

  }

  &__right-sponsors {
    width: 48%;

    @include respond(phone) {
      width: 90%;
    }
  }

  // class added on views-view--sponsors-footer.html.twig
  &__sponsors__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }

  &__sponsors-field {
    outline-offset: 1rem;
    transition: all .3s;

    &:hover {
      outline: 2px solid $color-red-saturat;
    }
  }

}