// /////////////////////////
// @@  FOOTER REGION
// ////////////////////////

.footer {
  min-height: 50rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  &__left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    &-image {
      grid-column: 1;
      grid-row: 1;
    }

    &__social-box {
      grid-column: 1;
      grid-row: 1;
    }

    &__copy-rights {
      grid-column: 1;
      grid-row: 1;
    }

  }

  &__right-sponsors {

  }

  .sponsors__box {
    background: $color-white;
    border: 1rem solid $color-red-saturat;
    padding: 2rem;
  }

  &__sponsors__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__sponsors-field {
    outline-offset: 1rem;
    transition: all .3s;

    &:hover {
      outline: 2px solid $color-yellow;
    }

  }


}