/////////////////////////
// @@ HEADER
// ////////////////////////

.header {
  position: relative;
  height: 100vh;
  background: linear-gradient(
          to left bottom,
          rgba($color-yellow, 0.7),
          rgba($color-yellow-saturat, 0.7)),
  url("../images/aanzoek-van-Anton.jpg");
  background-size: cover;
  background-position: bottom;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    height: 95vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }

  @include respond(tab-port) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  @include respond(phone) {
    height: 70vh;
  }

  @include respond(smallest-phone) {
    height: 55vh;
  }

  &__logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  &__title-box {
    top: 35%;
    left: 50%;
    @include center(both);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5rem 1fr;

    @include respond(phone) {
      top: 60%;
    }
  }

  &__title {
    grid-column: 1;
    grid-row: 1 / 3;
    align-self: end;
  }

  &__slogan {
    grid-column: 1;
    grid-row: 2 / 3;
    background: $color-blue-saturat;
    color: $color-white;
    max-width: 15vw;
    padding: 1rem 0;

    @include respond(phone) {
      max-width: 24vw;
    }
  }

  &__cta {
    grid-column: 1;
    grid-row: 3 / 4;
    justify-content: center;
    align-self: end;
  }
}

