// /////////////////////////
// @@  SPONSORS REGION
// ////////////////////////

.sponsors {
  padding: 14rem 0 20rem;
  min-height: 55rem;

  // views-view--region-sponsors.html.twig
  &__view-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, auto));
    grid-gap: 2rem;
  }

  // templates/content/sponsors/node--sponsors--super-teaser.html.twig
  &__superteaser {
    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &-title {
      display: block;
      margin-bottom: 2rem;
      text-decoration: none;
      font-size: 2rem;
      color: $color-blackleather;
      line-height: 2;
      transition: color .3s;

      &:hover {
        color:$color-red-saturat;
      }
    }

    &-logo {
      display: block;
      transition: transform .3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }


  // templates/partials/front-page/sponsors.html.twig
  &__region-button {
    display: block;
    left: 50%;
    @include center('horizontal');
    margin-top: 5rem;
  }
      
}
