/////////////////////////
// @@ WELCOME
// ////////////////////////

.welcome {
  padding: 18rem 0 0;
  margin: 0 0 30rem;

  @include respond(tab-port) {
    margin-top: -13vh;
  }

  @include respond(phone) {
    margin-top: -10vh;
    padding: 14rem 0 0;
  }

  &__box {
    min-height: 38rem;
    
    @include respond(phone) {
      padding: 0 2rem 6rem;
    }
  }

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__body {
    width: 50%;
    padding: 0 3rem;

    @include respond(phone) {
      margin-bottom: 5rem;
      width: 100%;
      padding: 0;
    }
  }

  &__img {
    width: 50%;
    outline-offset: 2rem;
    transition: all .3s;

    &:hover {
      outline: 5px solid $color-red-saturat;
    }

    @include respond(phone) {
      width: 100%;
      padding: 0;
    }

  }
}