// /////////////////////////
// @@ BUTTONS
// ////////////////////////

.btn {
  &,
  &:link,
  &:visited {
    // position: relative;
    padding: 2rem 6rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: none;
    transition: all .3s;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
  }
}


.btn--white {
  background: $color-white;
  color: $color-blackleather;
  text-transform: uppercase;
}

.btn--yellow {
  background: $color-yellow-saturat;
  color: $color-blackleather;
}

.btn--blue {
  background: $color-blue;
  color: $color-white;
}

.btn--red {
  background: $color-red-saturat;
  color: $color-white;
}