// /////////////////////////
// @@  FORM 
// ////////////////////////

.form {
  padding: 5rem 0;

  &__group {
    &:not(:last-child){
      margin-bottom: 2rem;
    }
  }

  &__input, &__textarea {
    font-size: 1.5rem;
    color: $color-blackleather;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .9);
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    width: 90%;
    transition: all .3s; 

    @include respond(phone) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .2);
      border-bottom: 3px solid $color-blue;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-red-saturat;
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__label {
      margin-left: 2rem;
      margin-top: .7rem;
      display: block;
      transition: all .3s;
  }

}

.webform-confirmation__message {
  padding: 0 6rem;

}

.node-reactions-form, .user-login-form {
  width: 70vw;
  margin: 0 auto;
}