// //////////////////////////////
// @@ ++ COMPONENT PANELS
// //////////////////////////////

.panel {

  &--white {
    background-color: $color-white;
    padding: 3rem;
    margin-bottom: 4rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    border-bottom: 3px solid $color-yellow;
    transition: all .3s;
  }

  &--yellow {}
}