// /////////////////////////
// @@ TABLE 
// ////////////////////////


table {
  // min-width: 100%;
  // border-collapse: collapse; 

}

th, td {
  border: 1px solid $color-blackleather;
  padding: 1rem;
  text-align: left;
  vertical-align: middle;
}