// /////////////////////////
// @@ CONTENT MEMBERS
// ////////////////////////

// on views-view--taxonomy-term.html.twig
// ---------------------------------------
.members {

  &__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @include respond(smallest-phone) {
      flex-direction: column;
    }

    & > div {
      flex: 0 0 20%;

      @include respond(phone) {
        flex: 0 0 50%;
      }
    }
  }
}

//on node--leden--teaser.html.twig
// ----------------------------------

.members {

  &__content {

    &--teaser {
      padding: 2rem;
      overflow: hidden;
      margin-bottom: 3rem;

      @include respond(phone) {
        margin-bottom: 7rem;
      }

      @include respond(tab-port) {
        padding: .5rem;
      }

    }
  }

  &__teaser-img {}
}

