// /////////////////////////
// @@ TYPOGRAPHY
// ////////////////////////

body {
  color: $color-blackleather;
  font: {
    family: 'Roboto', sans-serif;
    size: 1.6rem;
    weight: 300;
  }
  line-height: 1.5;
}

p {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

}

.heading-primary {
  font-family: 'Passion One', cursive;
  display: block;
  color: $color-white;

  &--front {
    line-height: .7;
    font: {
      size: 20vw;
      weight: 400;
    }
  }


  &--page {
    display: block;
    font: {
      size: 5rem;
      weight: 400;
    }

    @include respond(tab-port) {
      letter-spacing: 1rem;
      font: {
        size: 4.2rem;
      }
    }

    @include respond(phone) {
      font: {
        size: 3.8rem;
      }
    }

    @include respond(small-phone) {
      font: {
        size: 3rem;
      }
    }

    @include respond(smallest-phone) {
      font: {
        size: 2.5rem;
      }
    }
  }

  &--sub {
    display: block;
    color: $color-white;
    letter-spacing: 1rem;
    font: {
      size: 4.5rem;
      weight: 400;
    }

    @include respond(tab-port) {
      font-size: 4rem;
    }

    @include respond(small-phone) {
      letter-spacing: .5rem;
      font-size: 3.5rem;
    }

    @include respond(smallest-phone) {
      font-size: 2.8rem;
    }
  }
}

.heading-secondary {
  display: inline-block;
  color: $color-blackleather;
  font: {
    size: 5rem;
    weight: 300;
  }
  margin-bottom: 6rem;
  transition: all .3s;

  &--view-footer {
    padding-top: 3rem;
    margin-bottom: 9rem;

    &::before {
      content: '';
      height: 1rem;
      background: $color-white;
      width: 100%;
      display: block;
      margin-bottom: 3rem;
    }

  }

  @include respond(small-phone) {
    font-size: 4rem;
  }

  @include respond(smallest-phone) {
    font-size: 3.5rem;
  }

  &--skew {
    &:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba($color-black, .2);
    }
  }

}

.heading-tertiary {
  display: block;
  color: $color-blackleather;
  font: {
    size: 3rem;
    weight: 300;
  }
  text-align: center;
  margin-bottom: 2.5rem;

  &--footer {
    color: $color-platinum;
    //text-align: right;
  }
}

.heading-fourth {
  display: block;
  color: $color-blackleather;
  font: {
    size: 2.4rem;
    weight: 300;
  }
  margin-bottom: 2rem;

  &--smaller {
    font-size: 2rem;

    @include respond(tab-port) {
      font-size: 1.6rem;
    }
  }
}