// /////////////////////////
// @@ TYPOGRAPHY
// ////////////////////////

body {
  color: $color-blackleather;
  font: {
    family: 'Roboto', sans-serif;
    size: 1.6rem;
    weight: 300;
  }
  line-height: 1.5;
}

p {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  
}


.heading-primary {
  margin-bottom: 4rem;

  &--main {
    display: block;
    color: $color-white;
    letter-spacing: 2rem;
    font: {
      size: 8rem;
      weight: 400;
    }
  
    @include respond(small-phone) {
      letter-spacing: 1.7rem;
      font-size: 7rem;
    }
  
    @include respond(smallest-phone) {
      font-size: 4.5rem;
      letter-spacing: 1.4rem;
    }
  }

  &--page {
    display: block;
    color: $color-white;
    letter-spacing: 2rem;
    font: {
      size: 5rem;
      weight: 400;
    }

    @include respond(tab-port) {
      letter-spacing: 1rem;
      font: {
        size: 4.2rem;
      }
    }

    @include respond(phone) {
      font: {
        size: 3.8rem;
      }
    }

    @include respond(small-phone) {
      font: {
        size: 3rem;
      }
    }

    @include respond(smallest-phone) {
      font: {
        size: 2.5rem;
      }
    }
  }

  &--sub {
    display: block;
    color: $color-white;
    letter-spacing: 1rem;
    font: {
      size: 4.5rem;
      weight: 400;
    }
  
    @include respond(tab-port) {
      font-size: 4rem;
    }
  
    @include respond(small-phone) {
      font-size: 3.5rem;
    }
  
    @include respond(smallest-phone) {
      letter-spacing: .5rem;
      font-size: 2.8rem;
    }
  }
}


.heading-secondary {
  display: block;
  color: $color-blackleather;
  font: {
    size: 5rem;
    weight: 300;
  }
  text-align: center;
  margin-bottom: 6rem;

  @include respond(smallest-phone) {
    font-size: 3.5rem;
  }
}

.heading-tertiary {
  display: block;
  color: $color-blackleather;
  font: {
    size: 3rem;
    weight: 300;
  }
  text-align: center;
  margin-bottom: 2.5rem;

  &--footer {
    color: $color-platinum;
    text-align: right;
  }
}

.heading-fourth {
  display: block;
  color: $color-blackleather;
  font: {
    size: 2.4rem;
    weight: 300;
  }
  margin-bottom: 2rem;
}