// ///////////////////////
// @@ ++ UTILITIES
// ///////////////////////

.u-shadow {
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,.4);
}

.u-btn-center--pt {
  padding-top: 6rem;
  text-align: center;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-big {
  margin-top: 5rem !important;
}