{# 
/**
 * Contact region on the front-page
*/ 
#}

<section class="contact" id="section-contact">
    <div class="row">
        <div class="contact__box">

            <div class="contact__form">
                {{ page.contact }}
            </div>

            <div class="contact__details">
                <div class="u-text-center">
                    <h2 class="heading-secondary heading-secondary--skew">
                        {{ 'Contact'|t }}
                    </h2>
                </div>

                <div class="contact__details__body">
                    <p>Voor al je vragen kan je terecht bij: <br>Jeffry Breban 0468 30 45 87</p>
                    <p>Toneel gezelschap ‘t Kliekske <br>Waartstraat 24 3730 Hoeselt</p>
                </div>

                <div class="contact__management-btn-region">
                    <a href="#management" class="btn btn--blue">Het bestuur</a>
                </div>

            </div>

        </div>
        {#end of contact__box#}

    </div>
</section>