{# 
/**
 * Contact region on the front-page
*/ 
#}

<section class="contact" id="section-contact">
  <div class="row">
    <div class="contact__box">
      <div class="contact__form">
        {{ page.contact }}
      </div>
      <div class="contact__details">
          <h2 class="heading-secondary">Contact</h2> 
          <div class="contact__details__body">
            <p>Voor al je vragen kan je terecht bij:Jeffry Breban 0468 30 45 87</p>
          <p>Toneel gezelschap ‘t Kliekske Waartstraat 24 3730 Hoeselt</p>
          </div>
        <a href="#management" class="btn btn--yellow">Het bestuur</a>
      </div>
    </div>

  </div>
</section>

