{# 
/**
 * Contact region on the front-page
 * Two id's section-contact-smooth for the smooth scroll from the footer region on a-href 'Contacteer ons'
 * the id section-conact for the popup management section close btn
*/ 
#}
<div id="section-contact-smooth"></div>
<section class="contact wow fadeIn" data-wow-duration="3s" id="section-contact">
    <div class="row">
        <div class="contact__box">

            <div class="contact__form">
                {{ page.contact }}
            </div>

            <div class="contact__details">
                
                <div class="contact__details__body">
                    {#TODO text to Drupal node#}
                    {# <p>Voor al je vragen kan je terecht bij: <br>Jeffry Breban 0468 30 45 87</p>
                    <p>Toneel gezelschap ‘t Kliekske <br>Waartstraat 24 3730 Hoeselt</p> #}

                    {{ page.contactinfo}}
                </div>

                <div class="contact__management-btn-region">
                    <a href="#management" class="btn btn--blue">{{ "Het bestuur"|t }}</a>
                </div>

            </div>

        </div>
        {#end of contact__box#}

    </div>
</section>