{#
/**
 * Created by Stefan on 24/02/2018.
 * Popup via btn on contact region
 */
#}

<div class="management__bcg" id="management">
  <div class="management__bcg__wrapper">
    <a href="#section-contact" class="management__close">&times;</a>
    <div class="management__content">
      {{ page.management }}
    </div>
  </div>
</div>