{# 
/**
 * Reactions section on front-page
 *
 */
#}

<section class="reaction">
    <div class="u-text-center">
        <h2 class="heading-secondary heading-secondary--skew">
            {{ 'Reacties'|t }}
        </h2>
    </div>

    <div class="row">
        <div class="reaction__box">
            <div class="row">

                {{ page.reactions }}

            </div>

        </div>
        <!-- end reaction__box -->
        <div class="reaction__footer u-btn-center--pt">
            <a href="{{ base_path }}reaction-page" class="btn btn--white">Meer reacties</a>
        </div>

    </div>

</section>
