{# 
/**
 * region on the front-page
 */ 
 #}

<section class="sponsors wow fadeIn" data-wow-duration="3s">

    <div class="u-text-center">
        <h2 class="heading-secondary heading-secondary--skew">
            {{ 'Met dank aan onze sponsers'|t }}
        </h2>
    </div>

    <div class="sponsors__box">
        <div class="sponsors__items">
            {{ page.sponsors }}
        </div>
        <div class="sponsors__region-button">
            <a href="{{ base_path }}hoe-sponseren" class="btn btn--white">
                {{ "Ook sponseren?"|t }}
            </a>
        </div>
    </div>

</section>