{# 
/**
 * region on the front-page
 */ 
 #}

<section class="sponsors">

<h2 class="heading-secondary">Met dank aan onze sponsers</h2>
  <div class="row">
    <div class="sponsors__box">
      <div class="sponsors__items">
        <ul>{{ page.sponsors }}</ul>
      </div>
      <div class="sponsors__region-button">
        <a href="{{ base_path }}hoe-sponseren" class="btn btn--white">Ook sponseren?</a>
      </div>
    </div>
  </div>
 
</section>


{# 
 <h2 class="heading-secondary">Met dank aan onze sponsers</h2>
  <div class="row">
    <div class="sponsors__box">
      <div class="sponsors__items">
        <ul>
          <li><a class="sponsors__item" href="#">Uitvaartcentrumhayen</a> </li>
          <li><a class="sponsors__item" href="#">legourmand</a> </li>
          <li><a class="sponsors__item" href="">elektro-hauben</a> </li>
          <li><a class="sponsors__item" href="#">IJscasino</a></li>
          <li><a class="sponsors__item" href="#">uitvaartcentrummerken</a></li>
          <li><a class="sponsors__item" href="#">mheercafe</a></li>
          <li><a class="sponsors__item" href="#">turboprint</a></li>
          <li><a class="sponsors__item" href="#">ladders-petry</a></li>
        </ul>
      </div>
    </div>
    
    <div class="u-btn-center--pt">
        <a href="#" class="btn btn--white">Hoe sponseren?</a>
    </div>

  </div> #}